<?xml version="1.0"?>
<configuration>
 <system.web>
    <customErrors mode="Off" />
 </system.web>
 <system.webServer>
    <rewrite>
        <rules>
            <!-- <rule name="Static Assets" stopProcessing="true">
                <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
                <action type="Rewrite" url="/{R:0}"/>
            </rule> -->
        
            <rule name="ReactRouter Routes" stopProcessing="true">
                <match url="/*.*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                <action type="Rewrite" url="index.html" />
            </rule>
        </rules>
    </rewrite>
    <!-- <httpErrors errorMode="Custom" existingResponse="Replace">
       <remove statusCode="404" subStatusCode="-1" />
       <error statusCode="404" path="/" responseMode="ExecuteURL" />       
   </httpErrors>    -->
   <httpErrors errorMode="Detailed" />
 </system.webServer>
</configuration>