.reset-container{
    width:45%;
    height: 100%;
    position: relative;
}
.reset-email{
    
}
.reset-form input{
    color: #858585;
    border: 2px solid #E5E5E5;
    border-radius: 50px;
    width: 100%;
    margin-top: 24px;
    height: 56px;
    padding: 0px 16px;
}
.reset-form button{
    background-color: rgba(1, 58, 142, 1);
    color: white;
    border-radius: 50px;
    width: 100%;
    margin-top: 24px;
    height: 56px;
    margin-bottom: 24px;
}
.reset-form button:hover{
    border:2px solid rgba(1, 58, 142, 1);
    color: rgba(1, 58, 142, 1);
    background-color: white;
}