.upload-btn-border-color{
    color: #8E8EA1;
}
.upload-btn-border{
    color:#22242C ;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-btn-border:hover{
    color: white;
    background-color: rgba(1, 58, 142, 1);
}