.text-color1{
    color: rgba(255, 255, 255, 0.28);
}
.text-color2{
    color: rgba(1, 58, 142, 1);
}
.text-color3{
    color: #E5E5E5;
}
.text-color4{
    color: #858585;
}.text-color5{
    color: #8E8EA1;
}
.text-color6{
    color: #F7F7F7;
}
.text-color7{
    color: #F0F0F0;
}
.text-color8{
    color: #B3B3B3;
}
.text-color9{
    color: #06AB2B;
}
.text-color10{
    color: #ECF102;
}
.text-color11{
    color: #FE8794;
}
.text-color12{
    color: #F5F5F5;
}
.text-color13{
    color: #22242C;
}
.text-color14{
    color: #C5C7CD;
}
.text-color15{
    color: #4B506D;
}
.text-color16{
    color: #DFE0EB;
}
.text-color17{
    color: #252733;
}
.text-color19{
    color: #9FA2B4;
}
.text-color21{
    color: #666666;
}
.text-color23{
    color: #B4B5C1;
}





.bg-color9{
    background-color: #06AB2B;
}
.bg-color10{
    background-color: #ECF102;
}

.border-color16{
    border-color:#DFE0EB;
}


